%h3 Additional Metadata
See the RDF Names of #{link_to 'searchable fields', catalog_searchable_fields_path, target: :_blank} for examples of accepted metadata field names.(e.g., ausnc:comment)
%br
Note: If the context for a field you want to enter is not available in the
#{link_to 'default schema', annotation_context_path, target: :_blank} then you must provide the full URI for that metadata field.

%hr

- if @additional_metadata_options.nil? || @additional_metadata_options.size == 0
  - @additional_metadata_options = {"" => ""}

- md_select = select_tag("additional_key[]").delete("\n")
- md_data = '['
- @additional_metadata_options.each do |k, v|
  - md_data += "{id:'#{k}', text:'#{v}'},"
- md_data = md_data.chomp(',') + ']'

- batch_add = ''
- @additional_metadata.each do |md_key, md_value|
  - unless md_key.blank? && md_value.blank?
    - if md_value.is_a? (Array)
      - md_value.each do |v|
        - batch_add += "add_metadata_field('#{CGI::escapeHTML(md_key)}', '#{CGI::escapeHTML(v)}');"
    - else
      - batch_add += "add_metadata_field('#{CGI::escapeHTML(md_key)}', '#{CGI::escapeHTML(md_value)}');"

.row-fluid
  .span4
    = label_tag :@additional_metadata_name, 'Metadata Name:'
  .span4
    = label_tag :@additional_metadata_value, 'Metadata Value:'

.row-fluid
  .input_wrap

%br
%button.add_field_button Add More Properties

:javascript
  var gid = 0;
  var add_metadata_field;
  var md_data = #{md_data};

  $(document).ready(function() {
    var wrapper = $(".input_wrap"); //Fields wrapper
    var add_button = $(".add_field_button"); //Add button ID

    $(add_button).click(function(e) { //on add input button click
      e.preventDefault();

      add_metadata_field('', '');

    });

    $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
      e.preventDefault();
      $(this).parent('div').parent('div').remove();
    })

    add_metadata_field = function(md_key, md_value) {
      var select_id = 'md_select_' + gid;
      var key_field = '#{md_select}';
      var value_field = '<input type="text" name="additional_value[]" required="true" value="' + md_value + '">';
      var remove_field = '<a href="#" class="remove_field">Remove</a>';
      var md_field = '<div class="row-fluid">'
        + '<div class="span4">' + key_field + '</div>'
        + '<div class="span4">' + value_field + '</div>'
        + '<div class="span1">' + remove_field + '</div>'
        + '</div>';

      $(wrapper).append(md_field);

      // add md_key to select2 if not exists
      if (!md_data[{'id':md_key, 'text':md_key}]){
        md_data.push({'id':md_key, 'text':md_key});
      }

      // select2
      $('#additional_key_').attr('id', select_id);
      var $select2 = $('#' + select_id).select2({
        data: md_data,
        tags: true
      });

      if (md_key != '') {
        $select2.val([md_key]).trigger("change");
      }

      gid++;
    }

    #{batch_add}

  });


