= label_tag :collection_linguistic_field, 'OLAC Linguistic Subject:'
see #{link_to 'OLAC Linguistic Subject Vocabulary', "http://www.language-archives.org/REC/field.html", target: :_blank} for further explanation

%br

- if collection_olac_properties.nil? || collection_olac_properties.size == 0
  - collection_olac_properties = {"" => ""}

- s1 = options_for_select(MetadataHelper::OLAC_LINGUISTIC_SUBJECT_HASH.invert)
- s2 = select_tag("collection_olac_name[]", s1).delete("\n")
- olac_select = '<div>' + s2 + '<input type="text" name="collection_olac_value[]" required="true"> <a href="#" class="remove_field">Remove</a> </div>'

.input_wrap
  - collection_olac_properties.each_with_index do |(k, v), i|
    %div
      = select_tag 'collection_olac_name[]', options_for_select(s1, "#{k}"), required: true
      = text_field_tag 'collection_olac_value[]', "#{v}", required: true
      - if i != 0
        %a.remove_field{:href => "#"} Remove

%button.add_field_button Add More Properties

:javascript
  $(document).ready(function() {
    var wrapper = $(".input_wrap"); //Fields wrapper
    var add_button = $(".add_field_button"); //Add button ID

    $(add_button).click(function(e) { //on add input button click
      e.preventDefault();

      $(wrapper).append('#{olac_select}');
  });

    $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
      e.preventDefault();
      $(this).parent('div').remove();
    })
  });
