
.span2
.span8
  %h1 Alveo Virtual Laboratory

  .row-fluid
    %p.lead
      Alveo provides access to collections of speech and language data with a rich API to support tools for data processing. New collections can be uploaded by researchers and shared with the community.

    %p.lead
      This page shows the different collections available on the Alveo VL. To access data from these collections you must register as a user and then agree to the licence terms for the collection. In some cases specific permission is required.

    %p

  %h2 Collections

  = render 'display_collections'

  .row-fluid
    - if params[:id]
      = render :file => '/collections/show'
    - else
      - if can? :web_create_collection, Collection
        %br
        = link_to "Create New Collection", web_create_collection_path, :id => 'Create New Collection', :class => "btn"

  = render 'shared/nectar_attribution'
  = render 'shared/modal_waiting_panel'