= render partial: 'display_breadcrumb', locals: {nav_links: {'collections' => collections_path, "#{@collection.name}" => nil}}

- metadata_fields = collection_show_fields(@collection)

.container-fluid
  .row-fluid
    .page-header
      .row-fluid
        .span4
          .pull-left
            %h2=@collection.name
        .span8
          .pull-right
            - unless params[:state].nil?
              = link_to "Back to Licence Agreements", "/account/licence_agreements", :class => "btn btn-primary"

            - if can? :web_add_item, @collection
              %br
              = link_to "Add New Item", web_add_item_path, :id => 'add_new_item', :class => "btn btn-primary"

            - if can? :web_add_item, @collection
              = link_to "Upload zip", web_upload_zip_path, :id => 'upload_zip', :class => "btn btn-primary"

            - if can? :edit_collection, @collection
              = link_to "Edit Collection", edit_collection_path, id: 'edit_collection', :class => "btn btn-primary"

            - if can? :delete_collection, @collection
              - if @collection.items.size == 0
                = link_to "Delete Collection", delete_collection_path, method: :delete, id: 'edit_collection', :class => "btn btn-danger", data: {confirm: "Are you sure to delete current collection?"}
              - else
                %button.btn.btn-danger.btn-sm{:disabled => "disabled", :type => "button", :title => "Collection not empty, can't delete!"} Delete Collection?


  .row-fluid
    .span3{:style => "overflow-wrap:break-word;"}
      .well.sidebar-nav
        %ul.nav.nav-list.text-left
          %li.nav-header Metadata
          - metadata_fields.each do |field|
            - if field.first[0] != "Abstract" && field.first[0] != "RDF Type" && field.first[0] != "SPARQL Endpoint"
              %li
                %strong
                  #{field.first[0]}:
                #{field.first[1]}

      = render partial: 'display_attachment_sidebar', locals: {attachment_url: @attachment_url}

    .span1
    .span8
      .row-fluid
        = @collection.html_text.html_safe


