%h2 Create Collection
%link{:rel=>"stylesheet", :href=>"assets/simplemde.min.css"}
%script{:src=>"assets/simplemde.min.js"}

= form_tag({controller: 'collections', action: 'web_create_collection'}, method: 'post', :id => 'create_collection_form') do
  = label_tag :collection_name, 'Collection Name:'
  = text_field_tag :collection_name, @collection_name, required: true

  = label_tag :collection_title, 'Collection Title:'
  = text_field_tag :collection_title, @collection_title, required: true

  = label_tag :collection_language, 'Collection Language:'
  -#= select_tag :collection_language, options_for_select(MetadataHelper::LANGUAGE_HASH, 'English'), include_blank: true, required: true
  = select_tag :collection_language, options_for_select(@collection_languages, @collection_language), id: 'language_select', required: true

  = label_tag :collection_creation_date, 'Collection Creation Date:'
  -#= date_select :collection_creation_date, @collection_creation_date, required: true
  = text_field_tag :collection_creation_date, @collection_creation_date, required: true

  = label_tag :collection_creator, 'Collection Creator:'
  = text_field_tag :collection_creator, @collection_creator, required: true



  = label_tag :collection_owner, 'Collection Owner:'
  = text_field_tag :collection_owner, @collection_owner, required: true

  = render partial: 'display_additional_olac', locals: {collection_olac_properties: @collection_olac_properties}


  = label_tag :collection_abstract, 'Collection Abstract:'
  = text_area_tag :collection_abstract, @collection_abstract, required: true

  = label_tag :collection_text, 'Collection Description:'
  = text_area_tag :collection_text, @collection_text, required: true
  :javascript
    var simplemde = new SimpleMDE({ element: $("#collection_text")[0] });

  = label_tag :approval_required, 'Privacy: (Approval required for collection access)'
  = hidden_field_tag :approval_required, 'public'
  = check_box_tag :approval_required, 'private', @approval_required == 'private'
  = label_tag :licence_id, 'Licence'
  = select_tag :licence_id, options_for_select(@collection_licences.map {|l| [l.name, l.id]}), include_blank: true

  = render 'display_additional_metadata'

  .form-actions
    = submit_tag 'Create', :class => "btn btn-primary"
    = submit_tag 'Reset', :name => 'reset', :type => :reset, :class => "btn btn-danger"
    = link_to 'Cancel', collections_path, :class => "btn"

= render 'shared/nectar_attribution'

:javascript
  $("#language_select").select2({
    width: 'resolve',
    minimumInputLength: 2
  })