= render partial: 'display_breadcrumb', locals: {nav_links: {'contributions' => contrib_index_path, "#{@contribution.id}" => nil}}

- main_title = "Unknown"

- if @phrase.nil? || @phrase == "0"
  - main_title = "Import from Zip"
- else
  - if @phrase == "1"
    - main_title = "Review Import"

.container-fluid
  .row-fluid
    .page-header
      .row-fluid
        .span4
          .pull-left
            %h1= @contribution.name
        .span8

  .row-fluid
    .span2
    .span10
      .row-fluid
        %table.table
          %tbody
            %tr
              %td File
              %td contrib.zip
              %td
            %tr
              %td{:rowspan => "2"} Metadata
              %td Name/Title
              %td= @contribution.name
            %tr
              %td Associated Collection
              %td= @contribution.collection.name

  .row-fluid
    %h3= main_title

  .row-fluid
    %span.label.label-info Found 123 documents in 3 items.

    %p
      %strong Warning!
    %p
      %span Best check yo self, you're not looking too good. This is a test sentence. Go on...

  = form_tag({controller: 'contributions', action: 'import'}, multipart: true, method: 'post', :id => 'import_contribution_form') do
    .row-fluid
      = label_tag :file_text, 'Upload Zip:'
      = file_field_tag :file

      = submit_tag 'hidden', :style => "display:none"
      = hidden_field_tag :phrase, "#{@phrase}"

  .form-actions
    = submit_tag 'Upload & Preview', :class => "btn btn-primary", :id => 'upload_btn'
    = submit_tag 'Proceed Import',  :class => "btn btn-warning", :id => 'import_btn'
    = link_to 'Cancel', contrib_show_path(@contribution.id), :class => "btn"

  .row-fluid
    %h3 Documents To Import
    = render "display_contribution_mappings"




= render 'shared/nectar_attribution'

